<div class="c-gallery">
  <div class="c-gallery__container">
    <img class="c-gallery__img" src="{{ album.coverUrl }}" alt="" />

    <figcaption class="c-gallery__title">{{ album.title }}</figcaption>
    <figcaption class="c-gallery__year">{{ album.year }}</figcaption>
    <figcaption class="c-gallery__genre">{{ album.genre }}</figcaption>
    <button (click)="deleteAlbum(album._id)" class="c-gallery__button">
      Eliminar Album
    </button>
  </div>
</div>
