.c-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 0px;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 64px;
}

.c-menu-bottom {
  width: 100%;
  text-align: center;
  position: relative;

  &__link {
    padding: 20px;
    color: lightseagreen;
  }
}
