<nav class="c-menu">
  <div class="row">
    <div class="c-menu-bottom">
      <ul>
        <a
          class="c-menu-bottom__link"
          routerLink=""
          [routerLinkActive]="{ exact: true }"
          routerLinkActive="c-menu-bottom__link--active"
          >Home</a
        >
        <a
          class="c-menu-bottom__link"
          routerLink="/artists"
          routerLinkActive="c-menu__link--active"
          >Artists</a
        >
        <a
          class="c-menu-bottom__link"
          routerLink="/albums"
          routerLinkActive="c-menu__link--active"
          >Albums</a
        >
        <a
          class="c-menu-bottom__link"
          routerLink="/create"
          routerLinkActive="c-menu__link--active"
          >Create</a
        >
      </ul>
    </div>
  </div>
</nav>
