.c-backgroundImg {
  display: flex;
  width: 100%;
  min-height: 900px;
  background-image: url(../../../assets/joven-mujer-afroamericana-marca-nacimiento-bailando-escuchando-musica-auriculares_1187-70641.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  background-position: center center;
}
