.c-container {
  margin-top: 90px;

  &__title {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid lightgreen;
    padding-bottom: 1px;
    margin-bottom: 10px;
    color: mediumslateblue;
  }
}

form {
  width: 100%;
  text-align: center;
  justify-content: center;
}

form label {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

form input {
  width: 40%;
  padding: 5px;
}

form button {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  background-color: lightgreen;
  border: 1px solid #cccc;
  cursor: pointer;
  color: black;
  border-radius: 10px;
}
