<form [formGroup]="formGroupAlbum">
  <div class="c-container">
    <h2 class="c-container__title">LET'S CREATE</h2>
    <p>
      <label for="title"></label>
      <input
        type="text"
        id="title"
        formControlName="title"
        placeholder="title"
      />
    </p>
    <p>
      <label for="coverUrl"></label>
      <input
        type="url"
        id="coverUrl"
        formControlName="coverUrl"
        placeholder="coverUrl"
      />
    </p>
    <p>
      <label for="year"></label>
      <input type="text" id="year" formControlName="year" placeholder="year" />
    </p>
    <p>
      <label for="genre"></label>
      <input
        type="text"
        id="genre"
        formControlName="genre"
        placeholder="genre"
      />
    </p>
    <button (click)="createAlbum()">Create album</button>
  </div>
</form>

<form [formGroup]="formGroupArtist">
  <div class="c-container">
    <p>
      <label for="name"></label>
      <input type="text" id="name" formControlName="name" placeholder="name" />
    </p>
    <p>
      <label for="photoUrl"></label>
      <input
        type="url"
        id="photoUrl"
        formControlName="photoUrl"
        placeholder="photoUrl"
      />
    </p>

    <button (click)="createArtist()">Create artist</button>
  </div>
</form>
