<div class="row">
  <div *ngFor="let album of albums; let i = index" class="col-12 col-md-3">
    <div routerLink="/album/{{ album._id }}">
      <app-album-component
        [album]="album"
        (deleteClickEmitter)="deleteAlbum($event)"
      ></app-album-component>
    </div>
  </div>
</div>
