.c-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 32px;
  margin-right: 32px;

  &__container {
    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  &__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  &__button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    font-size: 12px;
    padding: 4px;
    margin-top: 10px;
    background-color: paleturquoise;
    cursor: pointer;
    color: mediumslateblue;
    border: none;
  }
}
