<div class="c-gallery">
  <div class="c-gallery__container">
    <img class="c-gallery__img" src="{{ artist.photoUrl }}" alt="" />
    <figcaption class="c-gallery__name">{{ artist.name }}</figcaption>
    <figcaption class="c-gallery__birthdate">{{ artist.birthdate }}</figcaption>
    <figcaption class="c-gallery__deathDate">{{ artist.deathDate }}</figcaption>
    <button (click)="deleteArtist(artist._id)" class="c-gallery__button">
      Eliminar album
    </button>
  </div>
</div>
