@import "~bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../src/assets/fonts/Montserrat-Medium.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 900px;
  width: 100%;
  background-color: #f3cac9;
  font-family: "Montserrat";
}
