.c-album-search {
  display: flex;
  margin-right: 28px;

  & label {
    width: 80%;
  }

  & input {
    border-radius: 4px;
    border: 0, 0, 0 1px solid grey;
    color: rgb(196, 196, 196);
  }
}

form button {
  background-color: lightgreen;
  border: 1px solid #cccc;
  cursor: pointer;
  color: black;
  border-radius: 4px;
  font-family: "Montserrat";
}
